html, body {
 font-family: monospace;
}
input {
 font-family: monospace;
}

.main {

}
.table {
 display: table;
}
.row {
 display: table-row-group;
}
.cell {
 display: table-cell;
 border-bottom: 1px solid #999;
 border-right: 1px solid #999;
 vertical-align: middle;
 height: 80px;
 padding-right: 3%;
 padding-left: 3%;
}
.row:nth-child(1) .cell {
 border-top: 1px solid #999;
}
.cell:nth-child(1) {
 border-left: 1px solid #999;
}

.row:nth-child(1) .cell:nth-child(1) {
 border-top: 1px solid #999;
 border-radius: 10% 0 0 0;
}

.cell {
 
}

input {
 font-family: calibri;
 font-size: 30px;
 height: 60px;
 border: none;
 outline: none;
 font-weight: bold;
}

.green {
  color: #06f;
  font-size: 17px;
}

.output-cell {
 font-size: 17px;
}

.hit {
 color: #3385ff;
 text-shadow: 0 0 5px #00ff00;
}
.not-really {
 color: #3385ff;
 text-shadow: 0 0 2px #ff66cc;
}